!**/Resources/etc/cursors/*

**/Resources/audio/ANRI - I Can't Stop The Loneliness.mp3
**/Resources/audio/CINDY - Angel Touch.mp3
**/Resources/audio/Hiromi Iwasaki - Cinderella Honeymoon.mp3
**/Resources/audio/Masayoshi Takanaka - An Insatiable High.mp3
**/Resources/audio/Jackie Chan - Telephone.mp3
**/Resources/audio/Junko Ohashi - Telephone Number.mp3
**/Resources/audio/Masayoshi Takanaka - Sexy Dance.mp3
**/Resources/audio/Tatsuro Yamashita - Bomber.mp3
**/Resources/audio/Tatsuro Yamashita - For You.mp3
**/Resources/audio/Tatsuro Yamashita - JODY.mp3
**/Resources/audio/Toshiki Kadomatsu - Airport Lady.mp3
**/Resources/audio/Toshiki Kadomatsu - If You.mp3
**/Resources/audio/Yoshiko Sai - 冬の地下道.mp3
