!**/Resources/etc/cursors/*

**/Resources/audio/Airport Lady.mp3
**/Resources/audio/An Insatiable High.mp3
**/Resources/audio/ANRI - I Can't Stop The Loneliness.mp3
**/Resources/audio/Bomber.mp3
**/Resources/audio/CINDY - Angel Touch.mp3
**/Resources/audio/For You.mp3
**/Resources/audio/If You.mp3
**/Resources/audio/JODY.mp3
**/Resources/audio/mangekyo.mp3
**/Resources/audio/Sexy Dance.mp3
**/Resources/audio/Sparkle.mp3
**/Resources/audio/Telephone.mp3
**/Resources/audio/Telephone Number.mp3
**/Resources/audio/シンデレラ・ハネムーン.mp3